# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c8d1c7efe14bfc42a7657171864c5f17096542a214a391fd67fb0c9269b01feb980d05326667f98d28327f37e14c9056d503c597be729d42c22a6ec5afc112c5

test:
  secret_key_base: 5cfd1252bbdb2098ee440303a27e4923e74d51b8ea707933fa19077c206c7e4b28e3cae07ba7f884f80f05c5691a223898001f0f29514c8b2035940b2f21362c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
